beautifulsoup4==4.5.3
bs4==0.0.1
cycler==0.10.0
et-xmlfile==1.0.1
google-api-python-client==1.5.5
httplib2==0.9.2
jdcal==1.2
lxml==3.6.0
matplotlib==1.5.1
numpy==1.11.2
oauth2client==4.0.0
openpyxl==2.3.5
pandas==0.19.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pydot==1.2.3
pydotplus==2.0.2
pyExcelerator==0.6.4.1
PyMySQL==0.7.2
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.7
requests==2.9.1
rsa==3.4.2
scikit-learn==0.18
scipy==0.16.1
six==1.10.0
sklearn-contrib-lightning==0.4.0
uritemplate==3.0.0
vk==2.0.2
xlrd==0.9.4
xlwt==1.0.0
